:root {
  --main-coffee: #784D1F;
  --main-blue: #7ee0cc;
  --main-yellow: #FFDF40;
}


@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
  font-family: 'Open Sans', sans-serif;
}

*::selection{
  background-color: var(--main-coffee);
  color: white;
}


a {
  text-decoration: none;
}

body {
  background-color: #FAFAFA;
}
video{
  margin-top: 24px;
  margin-bottom: 24px;
}

h4,h3 {
  margin-top: 0;
}

h2{
  margin-bottom: 0;
}

.strong-body{
  font-weight: bold;
  color: var(--main-coffee);
}
.bg-white-border {
  background: white;
  box-shadow: inset 0 -1px 0 0 #E6E6E6, inset 0 1px 0 0 #E6E6E6;
}

.mt8 {
  margin-top: 8px;
}

.mt24 {
  margin-top: 24px;
}

.p4{
 padding-left: 4px;
 padding-right: 4px;
}

.text-center {
  text-align: center;
}


/*navbar*/

.nav-bar {
  height: 64px;
  background-color: var(--main-coffee);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
  position: fixed;
  z-index: 999;
  width: 100%;
}

.logo-link {
  display: inline-block;
  margin-top: 10px;
}

.logo-img {
  width: 46px;
  height: 46px;
  display: inline-block;
}

.web-title {
  display: inline-block;
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 400;
  border: 2px solid white;
  /*background-color: rgba();*/
  padding: 6px 10px;
  border-radius: 3px;
  margin-left: 16px;
  background: rgba(255,255,255,0.12);
}

.back-to-home {
  text-decoration: none;
  width: 200px;
  float: right;
  margin-top: 22px;
  transition: all 0.3s;
}

.back-to-home:hover {
  text-decoration: none;
  opacity: 0.8;
}

.backhome-arrow {
  float: left;
  display: inline-block;
}

.backhome-text {
  padding-top: 2px;
  padding-left: 32px;
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: lighter;
}


/*主圖*/

.hero-image{
  height: 480px;
  background-image: url(../img/hero-img.png);
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.hero-image:after{
  content: "";
  background-color: black;
  opacity: 0.6;
  height: 480px;
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.header-content {
  margin-top: 150px;
  color: white;
  position: absolute;
  z-index: 101;
}
.header-content h1{
  font-size: 50px;
  letter-spacing: 2px;
}

.header-content h2{
  font-size: 18px;
  margin-top: 0;
  line-height: 22px;
}


.tag-group-outline{
  margin-top: 24px;
  display: inline-block;
}

.tag-outline{
  display: inline-block;
  border: 1px solid white;
  border-radius: 20px;
  padding: 6px 16px;
  margin-right: 4px;
}


.product-intro {

}

.title-20 {
  margin-top: 0;
  font-size: 20px;
  color: #333333;
  line-height: 20px;
  font-weight: 600;
}

.body-text {
  /*max-width: 800px;*/
  font-size: 14px;
  color: rgba(51, 51, 51, 0.70);
  line-height: 20px;
}

.content-wrap {
  padding-top: 64px;
  padding-bottom: 64px;
}

.title-24 {
  color: var(--main-coffee);
  padding-bottom: 4px;
  font-size: 24px;
  line-height: 24px;
}
.z-index{
  position: relative;
  z-index: 88;
}
.problem{
  background-image: url(../img/coffee_mac.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.problem:after{
  content: "";
  background-color: black;
  opacity: 0.5;
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
}
.phone-wrap{
  max-width: 1100px;
  position: relative;
}
.hand-phone{
  position: absolute;
  top:-328px;
  bottom: 0;
  left: -220px;
  right: 0;
  z-index: 778;
  width: 430px;
  height: 600px;
}

.hand-phone img{
  width: 100%;
}



/*user survey*/
.survey-wrap{
  margin-left: auto;
  margin-right: auto;
  max-width: 880px;
}

.survey-hover{
  padding: 12px;
  border-radius: 5px;
  transition: all 0.3s;
  border: 1px solid rgba(0, 0, 0, 0);
}

.survey-hover:hover{
  background-color: #F8F8F8;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.number-percent {
  font-weight: 100;
  font-size: 48px;
  color: var(--main-coffee);
  line-height: 48px;
}

.icon-survey {
  margin: auto;
  width: 120px;
  height: 120px;
}


/*persona*/

.mb48 {
  margin-bottom: 48px;
}

.mb16{
  margin-bottom: 16px;
}

.persona-card {
  background: #FFFFFF;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  transition: all 0.3s;
  position: relative;
  top: 0;
}

.persona-card:hover{
  box-shadow: 0 18px 32px 0 rgba(0, 0, 0, 0.1);
  top: -4px;
}

.persona-card:hover .tag-personality{
  color: white;
  background-color: var(--main-coffee);

}

.persona-img {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-image: url(../img/man_student.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 160px;
}
.persona-img-2 {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-image: url(../img/salesman.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 160px;
}

.persona-img-3 {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-image: url(../img/designer.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 160px;
}

.subtitle-16 {
  font-size: 16px;
  font-weight: normal;
}

.card-content {
  padding: 24px;
}

.tag-group {
  margin-top: 8px;
  margin-bottom: 12px;
}

.tag-personality {
  color: var(--main-coffee);
  display: inline-block;
  border-radius: 2px;
  padding: 4px 8px;
  border: 1px solid var(--main-coffee);
  margin-right: 4px;
  transition: all 0.5s;
}


/*goal*/

.goal {
  height: 440px;
}

.goal-img {
  background-image: url(../img/man_student.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 440px;
}

.goal-content{
  max-width: 560px;
}
.goal-wrap{
  padding: 64px 24px;
  height: 440px;
}

.serial-number {
  display: inline-block;
  background-color: var(--main-coffee);
  padding: 2px;
  text-align: center;
  color: white;
  border-radius: 100%;
  width: 24px;
  height: 24px;
}

.subtitle-coffee {
  margin-left: 8px;
  font-size: 16px;
  color: var(--main-coffee);
  display: inline-block;
}


.process{
  background-color: var(--main-coffee);
}
/*design process*/
.process-wrap{
  margin: 0 auto;
  text-align: center;
  max-width: 800px;
  padding-top: 48px;
  padding-bottom: 40px;
}

.process-img{
  margin: 0 auto;
  max-width: 1100px;
  padding-bottom: 64px;
}

/*ia*/
.ia-wrap{
  text-align: center;
}

.flow-img{
  margin: 0 auto;
  max-width: 1100px;
  padding-top: 40px;
}

.max800{
  max-width: 1000px;
  margin: auto;
}

.wireframe{
  text-align: center;
}
.wireframe-img{
  padding-left: 4px;
  padding-right: 4px;
  margin-top: 8px;
}

/*mvp*/
.mvp{
  background-color: rgba(120,77,31,0.06);
box-shadow: inset 0 -1px 0 0 #E6E6E6, inset 0 1px 0 0 #E6E6E6;
}

.mvp-img{
  margin-top: 64px;
}

.p0{
  padding-left: 0px;
  padding-right: 0px;
}
.text-light {
  color: white;
  font-weight: 100;
}



.font-bold{
  font-weight: 600;
  line-height: 1.2em;
}


/*launch*/

.launched{
  background-image: url(../img/bg-2.jpg);
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 3;
  position: relative;
}

.launched:after{
content: '';
background-color: black;
opacity: 0.6;
position: absolute;
top:0;
left: 0;
bottom: 0;
right: 0;
z-index: 4;
}

.uppercase{
  text-transform: uppercase;
}

.title-32{
  font-size: 32px;
  color: var(--main-coffee);
  font-weight: bold;


}
.launch-content{
  height: 500px;
  z-index: 5;
  position: relative;
}

/*refine*/
.refine-design img{
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.10);
  margin-top: 16px;
}

/*design-system*/
.system-img
.design-sysetem{
  height: 400px;
}

.system-content{
  margin-top: 120px;
}

.ui-component{
    /*max-height: 600px;*/
}
.ui-component-img{
  max-height: 1000px;
}

.showcase{
  height: 1200px;
  background-image: url(../img/bg-3.jpg);
  /*background-attachment: fixed;*/
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.op8{
  opacity: .8;
}

.btn{
  margin-top: 24px;
  margin-bottom: 64px;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 60px;
  transition: all 0.3s;
}

.btn:hover{
  color: white;
  text-decoration: none;
  opacity: .85;
}

.btn-coffee{
  background-color: var(--main-coffee);
  box-shadow: 0 5px 11px 2px rgba(120,77,31,0.24);
}

.align-center{
  margin: 0 auto;
  text-align: center;
}
